.cursive {
;	font-family				: cursive
}
.fantasy {
;	font-family				: fantasy
}
.right {
;	float					: right
}
.RectB	{ cursor: crosshair }
.OvalB	{ cursor: crosshair }
.HandB	{ cursor: move }
.PenB	{ cursor: url( 'res/grippingArrow.cur' ), auto }

* {
;	font-family				: monospace
}

body {
;	margin					: 0
;	height					: 100vh
;	display					: grid
;	grid-template-columns	: auto 1fr auto
;	grid-template-rows		: auto 1fr auto
}

header, footer {
;	grid-column				: 1 / 4
;	padding					: 0 5px
}

header	{ border-bottom		: 1px solid black }
footer	{ border-top		: 1px solid black }
nav		{ border-right		: 1px solid black }
aside	{ border-left		: 1px solid black }

nav		{ overflow			: scroll }
aside	{ overflow			: scroll }
main	{ overflow			: scroll }

nav		> * { padding		: 1px 5px }
aside	> * { padding		: 1px 5px }

header input[ type=image ] {
;	border					: 2px solid grey
}
header input[ type=image ].selected {
;	border					: 2px solid red
}
header > * {
;	vertical-align			: middle
}

main {
;	position				: relative
;	background-color		: #eee
}

canvas {
;	position				: absolute
}

.lr {
;	display					: flex
;	justify-content			: space-between
;	align-items				: center
;	height					: 28px
}

/*
.tool {
;	margin					: 1px
;	border					: 1px solid black
}
*/

.headline {
;	width					: 100%
;	font-size				: 16px
;	background				: grey
;	color					: white
}

input[ type=text ] {
;	width					: 80px
}

jp-color-picker {
;	padding-left			: 8px
;	display					: flex
;	align-items				: center
}
jp-color-picker > * {
;	border					: none
}
jp-color-picker > input[ type=list ] {
;	position				: relative
;	top						: 3px
;	font-size				: 8px
}


dialog {
;	border					: 1px solid black
;	margin					: auto
}
.dialogBlocker {
;	background				: lightblue
;	padding					: 8px
}
.default {
;	background				: blue
;	color					: white
}

